@import "colors.css";

* {
    font-family: "Iosevka Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 12px;
}

#workspaces {
    margin: 0px;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: @base00;
}

#workspaces button {
    margin: 10px 4px;
    padding: 4px;
    border-radius: 20px;
    border: 1.5px solid;
    background-color: @base00;
    border-color: @base01;
    color: @base04;
    transition: 0.2s all;
}

#workspaces button:hover {
    color: @base0D;
    border-color: @base03;
}

#workspaces button.active {
    border-color: @base0D;
    background-color: @base0D;
    color: @base00;
}

#workspaces button.active:hover {
    border-color: @base0D;
}

#clock, #tray, #wireplumber, #battery {
    margin: 5px 2px;
    padding: 4px 12px;
    border-radius: 8px;
    border: 1.5px solid;
    background-color: @base00;
    color: @base04;
    border-color: @base01;
    transition: 0.2s all;
}

#clock:hover, #tray:hover, #wireplumber:hover, #battery:hover {
    background-color: @base00;
    color: @base0D;
}

#wireplumber.muted {
    color: @base08;
}

#battery.critical {
    color: @base08;
}

#battery.charging {
    color: @base0B;
}
